.section#hobi{
  background-color: lightgrey;
   width: 100%;
  height: 800px;
}

.group{
  background-color:  lightgrey;
}

.group ul{
  font-family: 'Montserrat';
   text-align: justify;
     opacity: 50%;
      font-weight: 500;
      font-size: 25px;
      padding: 0% 30%;
    
}


.img2{
  display: inline-flex;
  justify-content: space-between;
  align-content: space-around;
  margin: 20px 300px 40px 300px;
  filter: grayscale(100%);

}
