.section#hobi{
  background-color: lightgrey;
}

.group{
  background-color:  lightgrey;
}

.group ul{
  font-family: 'Montserrat';
   text-align: justify;
     opacity: 50%;
      font-weight: 500;
      font-size: 25px;
      padding: 0px 490px 60px 510px; 
    
}


.img2{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-around;
  margin: 20px 0px 40px 0px;
 

}
h2{
  font-family: 'Montserrat';
  font-variant: small-caps;
  font-weight: 900;
 opacity: 75%;
 letter-spacing: 0.3em;
 
}
p{
font-family: 'Montserrat';
  margin:  0px 0px 0px 13px;
   opacity: 65%;
   text-align: justify;
 font-weight: 500;
}