.section#hobi{
  background-color:white;
  width: 99vw;
  height: 99vh;

}



.img2{
  display: inline-flex;
  justify-content: space-between;
  align-content: space-around;
 
  filter: grayscale(100%);
width: 69vw;

 
}
.section#hobi p{
 width: 99vw;
margin: auto;
padding: 0vh 20vw 2vh 20vw;
}
.section#hobi h2{
 width: 99vw;
margin-top: 15vh;
margin-bottom: 2vh; 

}