.section#school{
  background-color: lightgrey;
 
}

  

.group ul{
  font-family: 'Montserrat';
   text-align: justify;
     opacity: 50%;
      font-weight: 500;
       padding: 10% 30%; 
      font-size: 16px;
      list-style-type: none;
}
