.section#school{
  background-color: lightgrey;
 
}

  

.group ul{
  font-family: 'Montserrat';
   text-align: justify;
     opacity: 50%;
      font-weight: 500;
       padding: 0px 490px 60px 510px; 
      font-size: 25px;
      list-style-type: none;
}
