.section#school{
  background-color: lightgrey;
 width: 100%;
  height: 800px;
}

  
 ul{
   font-family: 'Montserrat';
   text-align: justify;
   list-style-type: none;
   opacity: 50%;
   font-weight: 500;
   padding: 0px 300px 0px 300px;
   margin-top: 0%;
   font-size: 16px;
   
     
}
