@import url("./navigation.css");
@import url("./aboutme.css");
@import url("./taty.css");
@import url("./forsoul.css");
@import url("./hobi.css");
@import url("./collage.css");
@import url("./school.css");


*{
  margin: 0px;
  box-sizing: border-box;

}
  body {
      
        text-align: center;
        line-height: 1.4;
        background-color: lightgrey;
      
}
html{
  scroll-behavior: smooth;
}

div.container {
  justify-content: center;
}


h4{
   font-family: 'Quicksand';
   font-weight: 700px;
  font-variant: small-caps;
   letter-spacing: 0.3em;
  opacity: 75%;
}

.section{
 padding-top: 60px;

}

.img{
  margin-top: 80px;
}

