.img4{
  margin: 20px;
}

p.paragraph3{
  background-color: black;
  opacity: 85%;
  color: white;
   font-size: 12px;
   padding: 20px;
   font-variant: small-caps;
   margin: 0px 0px;
  
   
}
.paragraph3 a:link{
  text-decoration: none;
  color: blueviolet;
  font-variant: small-caps;

   
}
h2{
  font-family: 'Montserrat';
  font-variant: small-caps;
  font-weight: 900;
 opacity: 75%;
 letter-spacing: 0.3em;
 
}
p{
font-family: 'Montserrat';
  text-align: left;
  margin:  0px 0px 0px 13px;
   opacity: 65%;
   text-align: left;
 font-weight: 500;
   
}