
.img4{
  padding: 2vh 20vw 2vh 20vw;
}

.section#taty{
  background-color:white;
  width: 99vw;
  height: 99vh;

}


.section#taty a:link{
  text-decoration: none;
  color: blueviolet;
 

   
}
.section#taty p{
 margin-bottom: 2vh;
 
}
.section#taty h2{
 width: 99vw;
margin-top: 8vh;
margin-bottom: 2vh; 

}
