.img4{
  margin: 20px;
}

p.paragraph3{
  background-color: black;
  opacity: 85%;
  color: white;
   font-size: 12px;
   padding: 20px;
   font-variant: small-caps;
   margin: 0px 0px;
   font-size: 15px;
   text-align: left;
    padding: 30px 500px 30px 500px; 
}
.paragraph3 a:link{
  text-decoration: none;
  color: blueviolet;
  font-variant: small-caps;

   
}
